[http]
[https]
[url "https://"]
	insteadOf = git://
[user]
	name = momota
	email = makoto.momota@gmail.com
[color]
	ui = auto

# for mac sourcetree
[core]
	excludesfile = /Users/momota/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
